.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.fruit-bg {
  background-image: url("/src/assets/fruity.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.veg-bg {
  background-image: url("/src/assets/veg-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-bg {
  background-image: url("/src/assets/mix2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
  .ipad-pro-only {
    @apply grid-cols-3;
  }
}
